.card{
  display: flex;
}

.solto{
  width: 7rem;
  height: 2.4rem;
  border-radius: 0.3rem;
  background: #3761a8;
  color: #FFF;
}
.capturado{
  width: 7rem;
  height: 2.4rem;
  border-radius: 0.3rem;
  background: #F2994A;
  color: #FFF;
}