.solto{
  width: 7rem;
  height: 2.4rem;
  border-radius: 0.3rem;
  background: white;
  color: #3761a8;
}
.capturado{
  width: 7rem;
  height: 2.4rem;
  border-radius: 0.3rem;
  background: #F2994A;
  color: #FFF;
}
.flip-card {
    background-color: transparent;
    width: 250px;
    height: 250px;
    perspective: 800px;
    float: left;
    padding: 10px;
    text-align: center;
    margin: 20px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: whitesmoke;
    color: white;
  }
  
  .flip-card-back {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color:  #3761a8;
    color: white;
    transform: rotateY(180deg);
  }

  .flip-card-front img{
      position: relative;
      width: 200px; 
      height: 200px;
  }

.card-title .card-text{
    font-weight: 800;
}

.card-title{
    color: #888;
}

.card-text{
    color: #212529;
}

.btn-capturar {
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomright:10px;
	border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomleft:10px;
	border-bottom-left-radius:10px;
    text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
    height:50px;
	line-height:50px;
    width:140px;
	text-decoration:none;
    text-align:center;
    margin-left: 10px;
    margin-bottom: 30px;
}.btn-next:hover {
	background-color:#3972d4;
}.btn-next:active {
	position:relative;
	top:1px;
}

.btn-soltar {
	background-color:#ffffff;
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomright:10px;
	border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomleft:10px;
	border-bottom-left-radius:10px;
    text-indent:0;
	display:inline-block;
	color:#3762ab;
	font-family:Trebuchet MS;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
    height:50px;
	line-height:50px;
    width:140px;
	text-decoration:none;
    text-align:center;
    border-color: #3762ab;
    border: 1px solid;
    margin-bottom: 30px;
}.btn-previous:hover {
	background-color:#dedede;
}.btn-previous:active {
	position:relative;
	top:1px;
}
