*{
  margin: 0;
  padding: 0;
  position: relative;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  width: 100%;
  background: #FAFAFA;
}